Package: libdebian-source-perl
Source: dh-make-perl
Version: 0.104
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 159
Depends: perl, dpkg-dev, libapt-pkg-perl, libarray-unique-perl, libclass-accessor-perl, liblist-moreutils-perl, libparse-debcontrol-perl, libsub-install-perl, libtie-ixhash-perl, libwww-mechanize-perl, libwww-perl
Breaks: dh-make-perl (<< 0.91)
Replaces: dh-make-perl (<< 0.91)
Section: perl
Priority: optional
Description: collection of Perl modules for handling Debian source packages
 This collection of Perl modules was originally developed to support
 dh-make-perl, but may also be useful for other tools that need to
 manipulate (unpacked) Debian source packages.  The current modules in
 the package are:
 .
  * Debian::Control
  * Debian::Control::Stanza
  * Debian::Control::Stanza::Binary
  * Debian::Control::Stanza::CommaSeparated
  * Debian::Control::Stanza::Source
  * Debian::Dependencies
  * Debian::Dependency
  * Debian::DpkgLists
  * Debian::Rules
  * Debian::WNPP::Bug
  * Debian::WNPP::Query
